In [1]:
import numpy as np

In [2]:
import pandas as pd

In [5]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array(my_list)
d = {'a':10,'b':20,'c':30}

In [8]:
pd.Series(data = my_list, index = labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(my_list, labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [11]:
d

{'a': 10, 'b': 20, 'c': 30}

In [12]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [15]:
pd.Series(data = [sum, len])

0    <built-in function sum>
1    <built-in function len>
dtype: object

In [16]:
ser1 = pd.Series([1,2,3,4], index=['USA','Germany','USSR','Japan'])

In [17]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [19]:
ser2 = pd.Series([1,2,5,4], index=['USA','Germany','Italy','Japan'])

In [20]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [21]:
ser3 = pd.Series(data = labels)

In [22]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64