## Multi-Index and Index Hierarchy

####  Let us go over how to wwork with multi-Index, first we'll create a quick example of what a Milti-Indexed DataFrame would look like :

In [3]:
import pandas as pd
import numpy as np

# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [5]:
inside

[1, 2, 3, 1, 2, 3]

In [6]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [8]:
list(zip(outside, inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [11]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [12]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [14]:
from numpy.random import randn
np.random.seed(101)

In [17]:
df = pd.DataFrame(np.random.randn(6,2), index = hier_index, columns = ['A','B'])

In [18]:
df

             A         B
G1 1  2.706850  0.628133
   2  0.907969  0.503826
   3  0.651118 -0.319318
G2 1 -0.848077  0.605965
   2 -2.018168  0.740122
   3  0.528813 -0.589001

In [19]:
df.loc['G1']

          A         B
1  2.706850  0.628133
2  0.907969  0.503826
3  0.651118 -0.319318

In [20]:
df.loc['G1'].loc[1]

A    2.706850
B    0.628133
Name: 1, dtype: float64

In [21]:
df.index.names = ['Group' , 'Num']

In [22]:
df

                  A         B
Group Num
G1    1    2.706850  0.628133
      2    0.907969  0.503826
      3    0.651118 -0.319318
G2    1   -0.848077  0.605965
      2   -2.018168  0.740122
      3    0.528813 -0.589001

In [24]:
df.loc['G2'].loc[2].loc['B']

0.7401220570561068

In [25]:
df.xs(['G1',1])

A    2.706850
B    0.628133
Name: (G1, 1), dtype: float64

In [26]:
df.xs(1, level = 'Num')

              A         B
Group
G1     2.706850  0.628133
G2    -0.848077  0.605965